@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins", sans-serif;
}

body {
  padding: 90px 20px 0px;
  background-color: rgb(228, 228, 228);
}

.header {
  background-color: #354f52;
  height: 80px;
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav-link {
  color: white;
}

.logo {
  font-size: 35px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  padding: 0px 40px;
  line-height: 80px;
}

.nav-menu {
  display: flex;
  margin-right: 40px;
  gap: 25px;
}

.nav-menu-item {
  font-size: 16px;
  line-height: 80px;
}

.nav-menu-link {
  padding: 5px 5px;
  border-radius: 3px;
}

.nav-menu-link:hover {
  background-color: #52796f;
  transition: 0.5s;
}

.section-1 {
  width: 85%;
  margin: 30px 30px 0px;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: black;
}

.img-cromado {
  width: auto;
  height: auto;
  max-width: 400px;
  max-height: 400px;
  border-radius: 10%;
}

.section-1-titulo {
  font-size: 32px;
  font-style: italic;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 100px;
  margin-top: 30px;
}

.section-1-titulo2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 100px;
}

.section-1-parrafo {
  font-size: 16px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
  padding: 20px;
  color: black;
}
